<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link " href="/">Wahl Auswählen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Anleitung zu digitalem Ausweis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">rechtliche Hinweise</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand">Willkommen, {{name}}</a>      
        </li>
      </ul>
      <div class="row">
        <div class="col-sm">
          <h3 class="text-center" padding="3">Vielen Dank, dass Sie an der Wahl teilgenommen haben.</h3>
          {{method}}
        </div>
      </div>
      </div>
    </div>
  </body>
  
  